body{
    background: linear-gradient(to bottom, #f7a0b8, #fbb6c4, #fae9d7, #faf5ec);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

button img{
    width: 800px;
    height: 800px;
}

h1 img.migu-img{
    height:125px;
    width: 125px;
}

img.elgato{
    height: 500px;
    width: 500px;
}

h1{
    font-size:109px;
    font-family: "Leckerli One", cursive;
    color: white;
    text-shadow: 7px 7px 14px rgba(0, 0, 0, 1);
    -webkit-text-stroke: 14px black;
    paint-order: stroke fill;
    margin: 0;
    padding: 5px;
}

h2{
    font-size:35px;
    font-family: "Leckerli One", cursive;
    color: black;
    -webkit-text-stroke: 2.5px #ffffff;
    paint-order: stroke fill;
    margin: 0px;
    padding: 5px;
}

button{
    background: transparent;
    border: transparent;
    cursor: pointer; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button:hover img{
    animation: bounce 0.5s;
} 

@keyframes bounce {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.confetti-piece {
    position: fixed;
    width: 10px;
    height: 10px;
    top: -10px;
    border-radius: 2px;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}